<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../../imagens/icones/escudo_dimel.png" type="image/x-icon">

    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/admin.css">
    <link rel="stylesheet" href="styles/index.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    
    <title>DIMEL FC</title>
</head>

<body>
    <header>
        <div class="escudo">
            <img id="escudo" src="../../imagens/icones/escudo_dimel.png" alt="">
        </div>

        <nav>
            <a href="/">
                <img src="../../imagens/icones/colmeia.png">
                Home
            </a>

            <div class="views">
                <a href="/times">Times</a>
                <a href="/jogos">Jogos</a>
            </div>

            <a href="/controle">Controle</a>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer></footer>
</body>
</html>