<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../../imagens/icones/escudo_dimel.png" type="image/x-icon">

    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/index.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    
    <title>DIMEL FC</title>
</head>

<body>
    <header>
        <div class="escudo">
            <img id="escudo" src="../../imagens/icones/escudo_dimel.png" alt="">
        </div>

        <a href="/jogos" id="display">
            <div class="nomeTime Casa">Csa</div>

            <div class="placar">
                <div class="timeCasa">
                    <img class="escudoJogo" src="../../imagens/icones/escudo_dimel.png" alt="">

                    <p>0</p>
                </div>

                <div class="tempo">
                    45'
                </div>

                <div class="timeVisitante">
                    <img class="escudoJogo" src="../../imagens/icones/escudo_dimel.png" alt="">

                    <p>0</p>
                </div>
            </div>

            <div class="nomeTime Visitante">Vst</div>
        </a>

        <nav>
            <div id="cima">
                <a href="/">
                    <img src="../../imagens/icones/colmeia.png">
                    Home
                </a>

                <a href="/controle">Controle</a>
            </div>

            <div id="baixo">
                <a href="/times">Times</a>
                <a href="/jogos" class="-jogoAoVivo">
                    Jogos

                    <div class="-bolinha"></div>
                </a>
            </div>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>Dimel FC (c)</footer>
</body>
</html>