.marcadores
{
    position: absolute;
    left: 0;
}

#mrJogadores
{
    top: 9.5rem;
}

#ctrlJogadores
{
    background-color: #00731d;
    max-height: calc(100vh - 3.04rem);
    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: self-start;

    gap: 1rem;

    overflow-y: scroll;
}

#tabela
{
    width: 100%;

    border-spacing: 0;

    font-family: var(--font-montserrat);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

#cabecalho,
.linhas
{
    height: max-content;

    display: grid;
    grid-template-columns: 2.48rem 2.48rem 1fr 1fr 1fr 2.48rem 1fr 4.76rem 1.8rem;
    grid-template-rows: auto;

} .linhas:last-of-type .colunas:not(.colunas.cEdit) {
    border-bottom: 0.06rem solid #000000;
}

.colunas
{
    padding: 0 1rem;

    border-bottom: 0.06rem solid #a7a7a7;
    outline: none;

    font-size: 0.8rem;
    font-weight: 600;
    text-transform: capitalize;

    display: flex;
} 

#cabecalho .colunas
{
    background-color: #171717;

    color: white;
    font-weight: 400;

    align-items: center;
    justify-content: center;

    position: relative;

    z-index: 2;

} #cabecalho :not(.colunas.cEdit) {
    border-top: 0.06rem solid #000000;
    border-bottom: 0.06rem solid #000000;

} #cabecalho .colunas:nth-child(even) {
    background-color: #2f2f2f;
}

.linhas .colunas
{
    align-items: center;
    justify-content: end;

} .linhas .colunas:nth-child(odd):not(:last-child) {
    background-color: #bfbfbf;

} .linhas .colunas:nth-child(even) {
    background-color: #ffffff;
}

.colunas.cId
{
    border-left: 0.06rem solid #000000;
    border-right: 0.06rem solid #000000;
}

.colunas.cId p
{
    font-size: 0.8rem;
}

.deletar
{
    position: absolute;

    height: 1.6rem;
    width: 1.6rem;

    background-color: #0f0f0f;

    border: none;
    border-radius: 0.3rem;

    display: none;
    align-items: center;
    justify-content: center;
}

.deletar:hover
{
    transition: 0.3s;
    background-color: red;
}

.deletar .material-symbols-outlined
{
    color: white;
    font-size: 1.2rem;
}

.colunas.cId,
.colunas.cNum
{
    align-items: center;
    justify-content: center;
}

.colunas.cCntt
{
    min-width: max-content;

    padding: 0.24rem;
    gap: 0.24rem;

    align-items: center;
    justify-content: center;

    font-size: 0.6rem;
}

.contratoA,
.contratoI,
.contratoE
{
    height: 0.9rem;
    aspect-ratio: 1/1;
    
    border-radius: 100%;

    font-size: 0;

    display: flex;
    justify-content: center;
    align-items: center;

} .contratoA {
    background-color: #009800;

} .contratoE {
    background-color: #d89400;

} .contratoI {
    background-color: #980000;
}

.colunas.cFoto
{
    border-right: 0.06rem solid #000000;

    min-width: max-content;
    padding: 0.24rem 0;
    gap: 0.24rem;

    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 1;
} #cabecalho .colunas.cFoto {
    z-index: 2;
}

.colunas.cFoto a
{
    height: 2rem;
    width: 2rem;

    border-radius: 0.3rem;

    text-decoration: none;
}

.colunas.cFoto a button
{
    background-color: #0f0f0f;

    height: 2rem;
    width: 2rem;

    padding: 0;

    outline: none;
    border: none;
    border-radius: 0.3rem;
}
.colunas.cFoto .enviarImagem,
.colunas.cFoto .trocarImagem
{
    position: absolute;

    width: 4.24rem;

    display: none;
}

.colunas.cFoto .enviarImagem label,
.colunas.cFoto .trocarImagem label
{
    background-color: #0f0f0f;

    width: 100%;

    border-radius: 0.3rem;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.colunas.cFoto .enviarImagem label:hover,
.colunas.cFoto .trocarImagem label:hover
{
    transition: 0.3s;
    background-color: #3a3a3a;
    cursor: pointer;
}

.colunas.cFoto a:nth-child(2) button:hover 
{
    transition: 0.3s;
    background-color: rgb(0, 99, 0);
}

.colunas.cFoto a:first-child button:hover 
{
    transition: 0.3s;
    background-color: rgb(0, 6, 120);
}

.colunas.cFoto a button .material-symbols-outlined
{
    color: #ffffff;
    font-size: 1.3rem;

    display: flex;
    justify-content: center;
    align-items: center;

} .colunas.cFoto a:first-child button .material-symbols-outlined {
    margin: 0.1rem 0 0 0;
}

.colunas.cFoto a.disabled button .material-symbols-outlined,
.colunas.cFoto a.disabled button,
.colunas.cFoto a.disabled
{
    pointer-events: none;
    background-color: rgb(183, 183, 183);
}

.colunas.cEdit
{
    background-color: transparent;
    
    border-bottom-color: transparent;
    padding: 0;

    align-items: center;
    justify-content: center;

    position: relative;

    z-index: 0;

} #cabecalho .colunas.cEdit {
    background-color: transparent;
}

.buttons
{
    position: absolute;

    background-color: #171717;

    height: 1.7rem;
    width: 100%;

    padding: 0;

    border: none;
    border-radius: 0 0.6rem 0.6rem 0;
    
    display: flex;
    justify-content: end;
    align-items: center;

    z-index: -1;
}

.buttons.edit
{
    left: 0;

} .buttons.edit:hover {
    transform: 0.3s;
    width: 110%;
    background-color: #171717;
}

.buttons.canc
{
    background-color: #940000;

    width: 100%;

    left: -1.8rem;

} .buttons.canc:hover {
    transform: 0.3s;
    width: 110%;
    background-color: #af0000;
}

.buttons.salv
{
    background-color: #00731d;

    width: calc(100% + 1.8rem);

    left: -3.6rem;

} .buttons.salv:hover {
    transform: 0.3s;
    width: calc(110% + 1.8rem);
    background-color: #008c23;
}

.buttons .material-symbols-outlined
{
    height: 100%;
    width: 1.8rem;
    
    border-radius: 0 0.6rem 0.6rem 0;

    color: #ffffff;
    font-size: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}

.colunas[contenteditable]
{
    position: relative;
}

.colunas[contenteditable]::after
{
    background-color: #000000;
    content: '';
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.colunas[contenteditable]:hover
{
    cursor: pointer;
}

.colunas[contenteditable]:hover::after
{
    transition: 0.3s;
    height: 0.15rem;
}

.colunas:focus:after
{
    background-color: #a7a7a7;
    content: '';
    height: 0.15rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.forms
{
    background-color: #c3c3c3;

    padding: 0.3rem;

    border: 0.06rem solid #000000;
    border-radius: 0.4rem;

    display: grid;
    grid-template-areas:"n s" 
                        "a 0" 
                        "p p"
                        "f f"
                        "b b";
    grid-template-columns: 10rem 10rem;
    grid-template-rows: auto;
    gap: 0.5rem 0.2rem;
}

.area
{
    display: flex;
    flex-flow: column;
    gap: 0.2rem;
}

.area.nome
{
    grid-area: n;
}

.area.sobrenome
{
    grid-area: s;
}

.area.apelido
{
    grid-area: a;
}

.area.numero
{
    grid-area: 0;
}

.inputs
{
    background-color: #ffffff;

    padding: 0.3rem;

    border: 0.06rem solid #000000;
    border-radius: 0.2rem;

    outline: none;
}

.area.posicao
{
    grid-area: p;
}

.posJog,
.posTec
{
    display: flex;
    gap: 0.2rem;
}

.labels.posicao
{
    flex: 1;

    background-color: #ffffff;

    padding: 0.1rem 0;

    border: 0.06rem solid #000000;
    border-radius: 0.3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.labels.posicao:hover
{
    transition: 0.3s;
    background-color: #000000;
    color: #ffffff;
}

input[type='radio']:checked + .labels.posicao
{
    background-color: #000000;
    color: #ffffff;
}

.area.foto
{
    grid-area: f;
}

.labels.foto
{
    background-color: #ffffff;

    padding: 0.2rem;

    border: 0.06rem solid #000000;
    border-radius: 0.3rem;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    box-sizing: border-box;
}

#previewFoto
{
    background-color: #b1b1b1;

    height: auto;
    width: 19.6rem;
    
    border: 0.06rem solid #000000;
    border-radius: 0.3rem;
}

button
{
    grid-area: b;

    background-color: #ffffff;

    padding: 0.3rem 0;

    border: 0.06rem solid #000000;
    border-radius: 0.3rem;

    outline: none;
}

#ctrlJogos
{
    background-color: rebeccapurple;

    height: 100vh;
    width: 100%;
}